Repository desmos-labs/desmjs, pull requests merged in 2022-08, with the labels that each got.

#32 feat: add CosmWASM support
  .github/workflows/tests.yaml
  .gitignore
  package.json
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/aminomessages/index.ts
  packages/core/src/cosmjs.ts
  packages/core/src/desmosclient.integration.spec.ts
  packages/core/src/desmosclient.ts
  packages/core/src/index.ts
  packages/core/src/queries/index.ts
  packages/core/src/testutils.ts
  packages/core/src/utils/conversions.unit.spec.ts
  packages/types/src/google/protobuf/descriptor.ts
  packages/types/src/google/protobuf/timestamp.ts
  scripts/assets/test_contract.wasm
  scripts/get_desmos_bin.sh
  scripts/setup_chain.sh
  scripts/spawn_test_chain.sh
  yarn.lock
Labels: pkg/core, pkg/types, automerge

#33 build: add ESLint support
  .github/workflows/lint.yml
  .github/workflows/tests.yaml
  package.json
  packages/core/.eslintrc.js
  packages/core/package.json
  packages/core/src/aminomessages/cosmos/converter.ts
  packages/core/src/aminomessages/desmjs/converter.ts
  packages/core/src/aminomessages/index.ts
  packages/core/src/aminomessages/posts/converter.ts
  packages/core/src/aminomessages/profiles/converter.ts
  packages/core/src/aminomessages/reactions/converter.ts
  packages/core/src/aminomessages/relationships/converter.ts
  packages/core/src/aminomessages/reports/converter.ts
  packages/core/src/aminomessages/subspaces/converter.ts
  packages/core/src/desmosclient.integration.spec.ts
  packages/core/src/desmosclient.ts
  packages/core/src/index.ts
  packages/core/src/queries/fees.ts
  packages/core/src/queries/index.ts
  packages/core/src/queries/posts.ts
  packages/core/src/queries/profiles.ts
  packages/core/src/queries/reactions.ts
  packages/core/src/queries/relationships.ts
  packages/core/src/queries/reports.ts
  packages/core/src/queries/subspaces.ts
  packages/core/src/queries/supply.ts
  packages/core/src/signers/adapter.ts
  packages/core/src/signers/noop.ts
  packages/core/src/testutils.ts
  packages/core/tsconfig.eslint.json
  yarn.lock
Labels: pkg/core, automerge, kind/ci

#34 fix: minor fixes in OfflineSignerAdapter
  packages/core/src/signers/adapter.ts
Labels: pkg/core, automerge

#36 build(ci): add release workflow
  .github/workflows/release.yml
Labels: automerge, kind/ci

#37 feat: added pub key to SignatureResult
  packages/core/src/desmosclient.ts
Labels: pkg/core, automerge

#38 feat: properly support MsgGrant and MsgRevoke messages
  packages/core/src/aminomessages/cosmos/authz/authorizations.ts
  packages/core/src/aminomessages/cosmos/authz/converter.ts
  packages/core/src/aminomessages/cosmos/authz/index.ts
  packages/core/src/aminomessages/cosmos/authz/messages.ts
  packages/core/src/aminomessages/cosmos/bank/authorizations.ts
  packages/core/src/aminomessages/cosmos/bank/index.ts
  packages/core/src/aminomessages/cosmos/bank/messages.ts
  packages/core/src/aminomessages/cosmos/converter.ts
  packages/core/src/aminomessages/cosmos/index.ts
  packages/core/src/aminomessages/cosmos/messages.ts
  packages/core/src/aminomessages/cosmos/registry.ts
  packages/core/src/aminomessages/cosmos/staking/authorizations.ts
  packages/core/src/aminomessages/cosmos/staking/index.ts
  packages/core/src/aminomessages/cosmos/staking/messages.ts
  packages/core/src/aminomessages/index.ts
  packages/core/src/aminomessages/subspaces/authorizations.ts
  packages/core/src/aminomessages/subspaces/messages.ts
  packages/core/src/aminomessages/subspaces/registry.ts
  packages/types/src/google/protobuf/descriptor.ts
  packages/types/src/google/protobuf/timestamp.ts
Labels: pkg/core, pkg/types, automerge

#39 chore: updated PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge

#40 feat: support `x/feegrant`
  packages/core/src/aminomessages/cosmos/feegrant/converter.ts
  packages/core/src/aminomessages/cosmos/feegrant/index.ts
  packages/core/src/aminomessages/cosmos/feegrant/messages.ts
  packages/core/src/aminomessages/cosmos/index.ts
  packages/core/src/aminomessages/cosmos/registry.ts
  packages/core/src/aminomessages/index.ts
Labels: pkg/core, automerge

#42 feat: improve SignatureResult usability
  packages/core/src/desmosclient.ts
  packages/core/src/index.ts
  packages/core/src/signatureresult.ts
Labels: pkg/core, automerge

#43 build(ci): fix the release action to include Protoc installation
  .github/workflows/release.yml
Labels: automerge, kind/ci

#44 build(ci): add missing directive inside release workflow
  .github/workflows/release.yml
Labels: automerge, kind/ci

#45 build(deps): bump protobufjs to 7.1.0
  packages/types/package.json
  yarn.lock
Labels: pkg/types, automerge

#48 feat: added missing authz and feegrant EncodeObjects
  packages/core/src/encodeobjects/cosmos.ts
Labels: pkg/core, automerge
