Repository desmos-labs/desmjs, pull requests merged in 2022-12, with the labels that each got.

#137 build(deps): bump cosmjs from 0.29.4 to 0.29.5
  package.json
  packages/core/package.json
  packages/keplr/package.json
  packages/types/src/google/api/http.ts
  packages/types/src/google/protobuf/descriptor.ts
  packages/types/src/google/protobuf/duration.ts
  packages/types/src/google/protobuf/timestamp.ts
  packages/walletconnect/package.json
  yarn.lock
Labels: pkg/core, pkg/types, pkg/walletconnect, automerge

#129 feat: add walletconnect-v2 package to support WallectConnect v2
  .github/workflows/tests.yaml
  .gitignore
  package.json
  packages/walletconnect-v2/.example.test.env
  packages/walletconnect-v2/README.md
  packages/walletconnect-v2/jest.config.js
  packages/walletconnect-v2/package.json
  packages/walletconnect-v2/src/decode.ts
  packages/walletconnect-v2/src/encode.ts
  packages/walletconnect-v2/src/index.ts
  packages/walletconnect-v2/src/rpcrequests.ts
  packages/walletconnect-v2/src/rpcresponse.ts
  packages/walletconnect-v2/src/signer.ts
  packages/walletconnect-v2/src/signer.unit.spec.ts
  packages/walletconnect-v2/src/types.ts
  packages/walletconnect-v2/test.dotenv.config.js
  packages/walletconnect-v2/tsconfig.json
  yarn.lock
Labels: automerge

#148 build(ci): improve workflows
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Labels: automerge, kind/ci

#154 feat: add Web3auth signer for React Native
  package.json
  packages/web3auth-mobile/.eslintrc.js
  packages/web3auth-mobile/README.md
  packages/web3auth-mobile/jest.config.js
  packages/web3auth-mobile/package.json
  packages/web3auth-mobile/src/index.ts
  packages/web3auth-mobile/src/privatekeyprovider.ts
  packages/web3auth-mobile/tsconfig.eslint.json
  packages/web3auth-mobile/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: kind/build, automerge

#179 feat: add querier method to expose the DesmosQueryClient
  packages/core/src/desmosclient.ts
Labels: pkg/core, automerge

#182 feat: support CosmWasm and improve keystoragechange listeners
  packages/keplr/.eslintrc.js
  packages/keplr/package.json
  packages/keplr/src/chains.ts
  packages/keplr/src/signer.ts
  packages/keplr/tsconfig.eslint.json
  yarn.lock
Labels: automerge
