Repository desmos-labs/desmjs, pull requests merged in 2023-01, with the labels that each got.

#181 feat: define Proto type url consants
  packages/core/src/aminomessages/cosmos/authz/authorizations.ts
  packages/core/src/aminomessages/cosmos/authz/converter.ts
  packages/core/src/aminomessages/cosmos/authz/index.ts
  packages/core/src/aminomessages/cosmos/bank/authorizations.ts
  packages/core/src/aminomessages/cosmos/bank/index.ts
  packages/core/src/aminomessages/cosmos/feegrant/converter.ts
  packages/core/src/aminomessages/cosmos/staking/authorizations.ts
  packages/core/src/aminomessages/cosmos/staking/index.ts
  packages/core/src/aminomessages/desmjs/registry.ts
  packages/core/src/aminomessages/posts/converter.ts
  packages/core/src/aminomessages/posts/registry.ts
  packages/core/src/aminomessages/profiles/converter.ts
  packages/core/src/aminomessages/profiles/registry.ts
  packages/core/src/aminomessages/reactions/converter.ts
  packages/core/src/aminomessages/reactions/registry.ts
  packages/core/src/aminomessages/relationships/registry.ts
  packages/core/src/aminomessages/reports/converter.ts
  packages/core/src/aminomessages/reports/registry.ts
  packages/core/src/aminomessages/subspaces/authorizations.ts
  packages/core/src/aminomessages/subspaces/index.ts
  packages/core/src/aminomessages/subspaces/registry.ts
  packages/core/src/const/cosmos/authz/index.ts
  packages/core/src/const/cosmos/bank/index.ts
  packages/core/src/const/cosmos/feegrant/index.ts
  packages/core/src/const/cosmos/index.ts
  packages/core/src/const/cosmos/staking/index.ts
  packages/core/src/const/desmjs/index.ts
  packages/core/src/const/index.ts
  packages/core/src/const/posts/index.ts
  packages/core/src/const/profiles/index.ts
  packages/core/src/const/reactions/index.ts
  packages/core/src/const/relationships/index.ts
  packages/core/src/const/reports/index.ts
  packages/core/src/const/subspaces/index.ts
  packages/core/src/encodeobjects/cosmos.ts
  packages/core/src/encodeobjects/demjs.ts
  packages/core/src/encodeobjects/posts.ts
  packages/core/src/encodeobjects/profiles.ts
  packages/core/src/encodeobjects/reactions.ts
  packages/core/src/encodeobjects/relationships.ts
  packages/core/src/encodeobjects/reports.ts
  packages/core/src/encodeobjects/subspaces.ts
  packages/core/src/index.ts
  packages/types/src/cosmos/base/query/v1beta1/pagination.ts
  packages/types/src/cosmos/crypto/multisig/v1beta1/multisig.ts
  packages/types/src/cosmos/tx/signing/v1beta1/signing.ts
  packages/types/src/desmjs/msgs.ts
  packages/types/src/desmos/profiles/v3/models_chain_links.ts
  packages/types/src/desmos/profiles/v3/models_params.ts
  packages/types/src/ethermint/crypto/v1/ethsecp256k1/keys.ts
  packages/types/src/google/api/httpbody.ts
  packages/types/src/google/protobuf/any.ts
  packages/types/src/google/protobuf/descriptor.ts
  packages/types/src/google/protobuf/wrappers.ts
Labels: pkg/core, pkg/types

#184 feat: allow to provide a custom prefix in PrivateKeySigner.
  .github/workflows/release.yml
  packages/core/src/signers/privatekey.ts
  packages/web3auth-mobile/src/privatekeyprovider.ts
  packages/web3auth-web/src/privatekeyprovider.ts
Labels: pkg/core, automerge, kind/ci

#183 docs: add documentation
  .github/workflows/build-docs-preview.yaml
  .github/workflows/deploy-docs.yaml
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/README.md
  docs/docs/packages/_category_.yaml
  docs/docs/packages/keplr.md
  docs/docs/packages/walletconnect-v2.md
  docs/docs/packages/web3auth-mobile.mdx
  docs/docs/packages/web3auth-web.md
  docs/docs/perform-transactions.md
  docs/docs/query-data.md
  docs/docs/setup.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/static/.nojekyll
  docs/static/assets/favicon.ico
  docs/static/assets/logo.png
  docs/static/assets/logo.svg
  docs/tsconfig.json
  package.json
  yarn.lock
Labels: automerge

#200 feat: allow to create an offline DesmosClient
  packages/core/src/desmosclient.integration.spec.ts
  packages/core/src/desmosclient.ts
Labels: pkg/core, automerge

#201 build(ci): improve workflows
  .github/workflows/build-docs-preview.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yaml
Labels: kind/ci

#218 feat: use the proto/amino type consts instead of strings
  packages/core/src/aminomessages/cosmos/authz/authorizations.ts
  packages/core/src/aminomessages/cosmos/authz/converter.ts
  packages/core/src/aminomessages/cosmos/authz/messages.ts
  packages/core/src/aminomessages/cosmos/bank/authorizations.ts
  packages/core/src/aminomessages/cosmos/bank/messages.ts
  packages/core/src/aminomessages/cosmos/feegrant/converter.ts
  packages/core/src/aminomessages/cosmos/feegrant/messages.ts
  packages/core/src/aminomessages/cosmos/registry.ts
  packages/core/src/aminomessages/cosmos/staking/authorizations.ts
  packages/core/src/aminomessages/cosmos/staking/messages.ts
  packages/core/src/aminomessages/desmjs/converter.ts
  packages/core/src/aminomessages/desmjs/messages.ts
  packages/core/src/aminomessages/posts/converter.ts
  packages/core/src/aminomessages/posts/messages.ts
  packages/core/src/aminomessages/posts/types.ts
  packages/core/src/aminomessages/profiles/converter.ts
  packages/core/src/aminomessages/profiles/messages.ts
  packages/core/src/aminomessages/profiles/types.ts
  packages/core/src/aminomessages/reactions/converter.ts
  packages/core/src/aminomessages/reactions/messages.ts
  packages/core/src/aminomessages/reactions/types.ts
  packages/core/src/aminomessages/relationships/converter.ts
  packages/core/src/aminomessages/relationships/messages.ts
  packages/core/src/aminomessages/reports/converter.ts
  packages/core/src/aminomessages/reports/messages.ts
  packages/core/src/aminomessages/reports/types.ts
  packages/core/src/aminomessages/subspaces/authorizations.ts
  packages/core/src/aminomessages/subspaces/converter.ts
  packages/core/src/aminomessages/subspaces/messages.ts
  packages/core/src/const/cosmos/authz/index.ts
  packages/core/src/const/cosmos/bank/index.ts
  packages/core/src/const/cosmos/feegrant/index.ts
  packages/core/src/const/cosmos/staking/index.ts
  packages/core/src/const/desmjs/index.ts
  packages/core/src/const/posts/index.ts
  packages/core/src/const/profiles/index.ts
  packages/core/src/const/reactions/index.ts
  packages/core/src/const/relationships/index.ts
  packages/core/src/const/reports/index.ts
  packages/core/src/const/subspaces/index.ts
  packages/core/src/encodeobjects/cosmos.ts
  packages/core/src/encodeobjects/demjs.ts
  packages/core/src/encodeobjects/posts.ts
  packages/core/src/encodeobjects/profiles.ts
  packages/core/src/encodeobjects/reactions.ts
  packages/core/src/encodeobjects/relationships.ts
  packages/core/src/encodeobjects/reports.ts
  packages/core/src/encodeobjects/subspaces.ts
Labels: pkg/core, automerge

#219 feat: add functions to decode WalletConnect requests
  packages/walletconnect-v2/package.json
  packages/walletconnect-v2/src/decode.ts
  packages/walletconnect-v2/src/decode.unit.spec.ts
  packages/walletconnect-v2/src/types.ts
  yarn.lock
Labels: automerge

#224 feat: add more Cosmos messages type const
  packages/core/src/const/cosmos/bank/index.ts
  packages/core/src/const/cosmos/distribution/index.ts
  packages/core/src/const/cosmos/gov/index.ts
  packages/core/src/const/cosmos/index.ts
  packages/core/src/const/cosmos/staking/index.ts
  packages/core/src/encodeobjects/cosmos.ts
Labels: pkg/core, automerge

#242 fix: Amino messages converters do not respect omitempty
  packages/core/script/spawn-test-chain.sh
  packages/core/src/aminomessages/posts/converter.ts
  packages/core/src/aminomessages/posts/messages.ts
  packages/core/src/aminomessages/posts/types.ts
  packages/core/src/aminomessages/profiles/converter.ts
  packages/core/src/aminomessages/profiles/messages.ts
  packages/core/src/aminomessages/relationships/converter.ts
  packages/core/src/aminomessages/relationships/messages.ts
  packages/core/src/aminomessages/reports/converter.ts
  packages/core/src/aminomessages/reports/messages.ts
  packages/core/src/aminomessages/subspaces/converter.ts
  packages/core/src/aminomessages/subspaces/messages.ts
  packages/core/src/aminomessages/utils/index.ts
  packages/core/src/const/profiles/index.ts
  packages/core/src/desmosclient.integration.spec.ts
Labels: pkg/core, automerge

#256 fix: fixed Reports and Reactions amino converters
  packages/core/src/aminomessages/reactions/converter.ts
  packages/core/src/aminomessages/reports/converter.ts
  packages/core/src/desmosclient.integration.spec.ts
Labels: pkg/core, automerge

#243 fix: fix Amino converters
  .github/workflows/build-docs-preview.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/lint.yml
  .github/workflows/tests.yaml
  packages/core/src/aminomessages/posts/converter.ts
  packages/core/src/aminomessages/posts/converter.unit.spec.ts
  packages/core/src/aminomessages/posts/messages.ts
  packages/core/src/aminomessages/posts/types.ts
  packages/core/src/aminomessages/profiles/converter.ts
  packages/core/src/aminomessages/profiles/converter.unit.spec.ts
  packages/core/src/aminomessages/profiles/messages.ts
  packages/core/src/aminomessages/profiles/types.ts
  packages/core/src/aminomessages/reactions/converter.ts
  packages/core/src/aminomessages/reactions/converter.unit.spec.ts
  packages/core/src/aminomessages/reactions/messages.ts
  packages/core/src/aminomessages/reactions/types.ts
  packages/core/src/aminomessages/relationships/converter.ts
  packages/core/src/aminomessages/relationships/converter.unit.spec.ts
  packages/core/src/aminomessages/relationships/messages.ts
  packages/core/src/aminomessages/reports/converter.ts
  packages/core/src/aminomessages/reports/converter.unit.spec.ts
  packages/core/src/aminomessages/reports/messages.ts
  packages/core/src/aminomessages/reports/types.ts
  packages/core/src/aminomessages/subspaces/converter.ts
  packages/core/src/aminomessages/subspaces/converter.unit.spec.ts
  packages/core/src/aminomessages/subspaces/messages.ts
  packages/core/src/aminomessages/testutils/index.ts
  packages/core/src/aminomessages/utils/index.ts
  packages/core/src/desmosclient.integration.spec.ts
Labels: pkg/core, kind/ci
