Repository desmos-labs/desmjs, pull requests merged in 2023-06, with the labels that each got.

#613 fix: authz expiration amino conversion
  packages/core/src/aminomessages/cosmos/authz/converter.ts
Labels: pkg/core

#617 fix: fix x/gov messages type url
  packages/core/src/const/cosmos/gov/index.ts
Labels: pkg/core

#619 chore: release v5.0.1
  CHANGELOG.md
  packages/core/package.json
  packages/keplr/package.json
  packages/types/package.json
  packages/walletconnect-v2/package.json
  packages/walletconnect/package.json
  packages/web3auth-mobile/package.json
  packages/web3auth-web/package.json
Labels: pkg/core, pkg/types, pkg/walletconnect, automerge

#630 build(deps): bump @web3auth/react-native-sdk from 3.5.0 to 4.0.0
  .github/workflows/build-docs-preview.yaml
  .github/workflows/deploy-docs.yaml
  docs/docs/packages/web3auth-mobile.mdx
  docs/package.json
  packages/types/package.json
  packages/web3auth-mobile/package.json
  packages/web3auth-mobile/src/privatekeyprovider.ts
  yarn.lock
Labels: pkg/types, automerge

#634 build(deps): bump @web3auth/modal from 5.2.1 to 6.1.1 and @web3auth/ui from 5.2.0 to 6.1.1
  docs/docs/packages/web3auth-web.md
  packages/web3auth-web/package.json
  packages/web3auth-web/src/web3auth-ui.d.ts
  yarn.lock
Labels: automerge

#635 chore: drop support to WalletConnect v1
  README.md
  package.json
  packages/walletconnect/README.md
  packages/walletconnect/jest.config.js
  packages/walletconnect/package.json
  packages/walletconnect/src/index.ts
  packages/walletconnect/src/signer.ts
  packages/walletconnect/tsconfig.json
  yarn.lock
Labels: pkg/walletconnect, automerge
