Repository desmos-labs/desmjs, pull requests merged in 2023-03, with the labels that each got.

#360 build(deps): bump @cosmjs dependencies from 0.29.5 to 0.30.0
  package.json
  packages/core/package.json
  packages/core/src/aminomessages/index.ts
  packages/core/src/desmosclient.ts
  packages/keplr/package.json
  packages/walletconnect-v2/package.json
  packages/walletconnect-v2/src/decode.ts
  packages/walletconnect/package.json
  packages/walletconnect/src/signer.ts
  packages/web3auth-mobile/package.json
  packages/web3auth-web/package.json
  yarn.lock
Labels: pkg/core, pkg/walletconnect, automerge

#383 fix: conversions of MsgLinkChainAccount from amino to protobuf
  packages/core/src/aminomessages/profiles/converter.ts
  packages/core/src/aminomessages/profiles/converter.unit.spec.ts
  packages/core/src/aminomessages/testutils/index.ts
Labels: pkg/core, automerge

#388 chore: prepare to release v4.7.8
  CHANGELOG.md
  packages/core/package.json
  packages/keplr/package.json
  packages/types/package.json
  packages/walletconnect-v2/package.json
  packages/walletconnect/package.json
  packages/web3auth-mobile/package.json
  packages/web3auth-web/package.json
Labels: pkg/core, pkg/types, pkg/walletconnect, automerge

#389 feat: add methods to broadcast a transaction in async, sync or block mode
  packages/core/src/desmosclient.integration.spec.ts
  packages/core/src/desmosclient.ts
  packages/core/src/types/responses.ts
Labels: pkg/core, automerge

#399 fix: fix StakeAuthorizationTypeUrl
  packages/core/src/const/cosmos/staking/index.ts
Labels: pkg/core, automerge

#415 build(dev-deps): remove ts-proto
  package.json
  packages/core/package.json
  packages/keplr/package.json
  packages/walletconnect-v2/package.json
  packages/walletconnect/package.json
  yarn.lock
Labels: pkg/core, pkg/walletconnect, automerge

#413 build(deps): bump @cosmjs dependencies to 0.30.1
  package.json
  packages/core/package.json
  packages/keplr/package.json
  packages/walletconnect-v2/package.json
  packages/walletconnect/package.json
  packages/web3auth-mobile/package.json
  packages/web3auth-web/package.json
  yarn.lock
Labels: pkg/core, pkg/walletconnect, automerge

#414 build(deps): bump @docusarus dependencies to 2.4.0
  docs/package.json
  package.json
  packages/core/jest.config.js
  packages/core/src/utils/timestamp.unit.spec.ts
  packages/types/.gitignore
  packages/types/package.json
  packages/types/script/prepare.sh
  packages/types/tsconfig.json
  yarn.lock
Labels: pkg/core, pkg/types, automerge
