Repository desmos-labs/desmjs, pull requests merged in 2024-02, with the labels that each got.

#1001 build(deps): downgrade @cosmjs/* packages to version 0.31.3
  package.json
  packages/core/package.json
  packages/keplr/package.json
  packages/types/package.json
  packages/walletconnect-v2/package.json
  packages/web3auth-mobile/package.json
  packages/web3auth-web/package.json
  yarn.lock
Labels: pkg/core, pkg/types, automerge, dependencies

#1011 docs: fix typos
  docs/docs/perform-transactions.md
  docs/docs/query-data.md
Labels: automerge

#1021 feat: allow to generate a random secp256k1 private key
  packages/core/package.json
  packages/core/src/signers/privatekey.ts
  packages/core/src/signers/privatekey.unit.spec.ts
  yarn.lock
Labels: kind/new-feature, pkg/core, automerge

#1022 feat(WalletConnect): add method to get the WalletConnect session
  packages/walletconnect-v2/src/signer.ts
Labels: automerge, pkg/walletconnect-v2

#1024 fix: amino signature with fee granter
  packages/core/src/desmosclient.ts
Labels: kind/bug, pkg/core, automerge

#1043 fix: x/feegrant messages and types amino serialization
  packages/core/src/modules/feegrant/v1beta1/aminoconverter.ts
  packages/core/src/modules/feegrant/v1beta1/aminoconverter.unit.spec.ts
  packages/core/src/modules/feegrant/v1beta1/aminomessages.ts
  packages/core/src/modules/feegrant/v1beta1/broadcast.integration.spec.ts
  packages/core/src/modules/posts/v3/aminoconverter.unit.spec.ts
  packages/core/src/utils/aminoutils/index.ts
  scripts/spawn_test_chain.sh
Labels: kind/bug, pkg/core, automerge
